<a href="https://colab.research.google.com/github/tontantip/DADS6001-Applied-statistics/blob/main/in%20class/anova.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Starting salary of graduated college students

In [1]:
salary<-c(17.4,16.5,17.2,16.9,17.5,16.8,17.4,17.6,18.2,15.6,13.5,16.3,15.2)
uni <- c(rep("1",4), rep("2",5), rep("3",4))
my.dat <- data.frame(salary,uni)
with(my.dat, shapiro.test(salary[uni=="1"]))

	Shapiro-Wilk normality test

data:  salary[uni == "1"]
W = 0.97133, p-value = 0.8497

In [6]:
my.dat

   salary uni
1  17.4   1
2  16.5   1
3  17.2   1
4  16.9   1
5  17.5   2
6  16.8   2
7  17.4   2
8  17.6   2
9  18.2   2
10 15.6   3
11 13.5   3
12 16.3   3
13 15.2   3

In [2]:
with(my.dat, shapiro.test(salary[uni=="2"]))

	Shapiro-Wilk normality test

data:  salary[uni == "2"]
W = 0.95798, p-value = 0.7939

In [3]:
with(my.dat, shapiro.test(salary[uni=="3"]))

	Shapiro-Wilk normality test

data:  salary[uni == "3"]
W = 0.93261, p-value = 0.6098

In [16]:

##install.packages("car")

ERROR: Error in parse(text = input): <text>:1:1: unexpected SPECIAL
1: %%
    ^

In [4]:
aov.model <- aov(salary ~ uni)
library(car)
leveneTest(aov.model ,center=mean)

ERROR: Error in library(car): there is no package called ‘car’

## EX1

In [11]:
bac<-c(51,5,19,18,58,50,82,17,70,164,88,111,73,119,20,95,84,51,110,67,119,108,207,102,74,135,102,124,105,130,170,87)
uni <- c(rep("ALS",8), rep("AS",8), rep("S",8),rep("W",8))
my.dat <- data.frame(bac,uni)
with(my.dat                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             , shapiro.test(bac[uni=="ALS"]))
with(my.dat, shapiro.test(bac[uni=="AS"]))
with(my.dat, shapiro.test(bac[uni=="S"]))
with(my.dat, shapiro.test(bac[uni=="W"]))

	Shapiro-Wilk normality test

data:  bac[uni == "ALS"]
W = 0.91146, p-value = 0.3644

	Shapiro-Wilk normality test

data:  bac[uni == "AS"]
W = 0.97591, p-value = 0.9399

	Shapiro-Wilk normality test

data:  bac[uni == "S"]
W = 0.86766, p-value = 0.143

	Shapiro-Wilk normality test

data:  bac[uni == "W"]
W = 0.97226, p-value = 0.9151

In [20]:

aov.model <- aov(bac ~ uni)
library(car)
leveneTest(aov.model ,center=mean)

Warning message in leveneTest.default(y = y, group = group, ...):
“group coerced to factor.”

      Df F value   Pr(>F)
group  3 0.2018333 0.8942386
      28        NA        NA

In [21]:
summary(aov.model)

            Df Sum Sq Mean Sq F value  Pr(>F)
uni          3  29372    9791   7.001 0.00117 **
Residuals   28  39159    1399
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

##Tukey

In [22]:
TukeyHSD(aov.model)

  Tukey multiple comparisons of means
    95% family-wise confidence level

Fit: aov(formula = bac ~ uni)

$uni
         diff        lwr       upr     p adj
AS-ALS 55.000   3.947349 106.05265 0.0310857
S-ALS  68.500  17.447349 119.55265 0.0053573
W-ALS  78.375  27.322349 129.42765 0.0013571
S-AS   13.500 -37.552651  64.55265 0.8874937
W-AS   23.375 -27.677651  74.42765 0.6011987
W-S     9.875 -41.177651  60.92765 0.9515365

In [42]:
## q tukey
qtukey(0.95,4,28)
## HSD
qtukey(0.95,4,28)*sqrt(1398.53/8)

[1] 3.861244

[1] 51.05263

In [26]:
##install.packages("agricolae")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

also installing the dependency ‘AlgDesign’

In [27]:
library(agricolae)
duncan.test(aov.model,"uni",alpha=0.05,console=TRUE)

Study: aov.model ~ "uni"

Duncan's new multiple range test
for bac

Mean Square Error:  1398.531

uni,  means

        bac      std r       se Min Max   Q25   Q50    Q75
ALS  37.500 26.55991 8 13.22182   5  82 17.75  34.5  52.75
AS   92.500 41.96257 8 13.22182  20 164 72.25  91.5 113.00
S   106.000 46.95895 8 13.22182  51 207 79.75 105.0 112.25
W   115.875 30.37592 8 13.22182  74 170 98.25 114.5 131.25

Alpha: 0.05 ; DF Error: 28

Critical Range
       2        3        4
38.30208 40.24518 41.50141

Means with the same letter are not significantly different.

        bac groups
W   115.875      a
S   106.000      a
AS   92.500      a
ALS  37.500      b